<h1>New User</h1>

<form action="<%= users_url %>" method="post">
  <%= auth_token %>
  <label for="username">username</label>
  <input id ="username" type="text" name="user[username]" value="">
  <br>
  <label for="password">password</label>
  <input id ="password" type="password" name="user[password]" value="">
  <br>
  <input type="submit"  value="Create User">
</form>
